.titulo-circular{
    /* font-family: 'Chakra Petch', sans-serif; */
    font-weight: 700;
    font-size: 30px;
    color: #FFFFFF;
    margin: 30px 0;
}

.circular{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10em;
    text-align: center;
}

.circular-numeros{
    width: 200px;
    height: 40px;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
    outline: none;
}
.botao-circular{
    width: 150px;
    height: 40px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    color: black;
    /* background-color: #4CAF50; */
    border: none;
    cursor: pointer;
}

.back{
    margin-top: 40px;
    text-decoration: none;
    font-size: 20px;
    padding: 0.5em;
    background-color: #FF8C00;
    border-radius: 0.5em;
}