.dolar {
    /* background-color: #f0f8ff; */
    color: #333333;
    align-items: center;
}
.titulo-dolar {
    font-size: 1.5em;
    margin: 1em 0;
}
.dolar-numeros{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    align-items: center;
    background-color: #333333;
    padding: 4%;
    border-radius: 2em;
}
.texto-dolar {
    font-size: 2em;
}

.botao-dolar {
    padding: 0.5em;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
    color: black;
}

.botao-dolar:hover {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

.resultado-dolar {
    font-size: 2em;
    margin: 0.5em 0 0 0;
    font-weight: bold;
    text-align: center;
}