.titulo-imc{
    margin: 1em 0 0 0;
}

.imc{
    margin: 4em 0 0 0;
    
}

.imc-numeros{
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}

.botao-imc{
    background-color: transparent;
    border: 1px solid #4CAF50;
    color: #4CAF50;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.back{
    width: 150px;
    margin-top: 1em;
    align-self: center;
    background-color: #0d8b11;
    color: white;
}

.back:hover{
    background-color: #4CAF50;
    color: white;
}

.resultado{
    font-size: 40px;
    font-weight: bold;
    /* margin-top: 1em; */
    text-align: center;

}

.resultado-imc{
    font-size: 20px;
    background-color: antiquewhite;
    color: black;
    padding: 1em;
    text-align: center;
}

.imc-resultado{
    margin-top: 1em;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;  
    gap: 1em;  
}
.descricao-imc{
    font-size: 20px;
    text-align: center;
    margin-top: 1em;
}