.titulo-tabuada{
    font-size: 1em;
    margin-bottom: 20px;
    text-align: center;
}

.tipo-de-conta{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    gap: 1em;
}

.texto-tabuada{
    font-size: 2em;
}
.botao-tabuada{
    font-size: 2em;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    width: 150px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
}